body {
    font-family: 'Montserrat', sans-serif;
}

/*********************HEADER*********************/

.container {
    margin: 0 auto;
    width: 1160px;
}

.header {
    background: fixed no-repeat url("../img/grey-header-background.png");
    background-size: cover;
    height: 900px;
}

.header-top {
    background-color: #49473F60;
    padding: 25px 0 25px 0;
}

.logo-nav-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*********************HEXAGON*********************/

.hexagon {
    position: relative;
    width: 60px;
    height: 34.64px;
    background-color: #18CFAB;
    margin: 17.32px 0;
}

.hexagon:before, .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: 17.32px solid #18CFAB;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 17.32px solid #18CFAB;
}

.logo-link {
    text-decoration: none;
    align-self: center;
    position: relative;
    display: flex;
    align-items: center;
}

.hexagon-inner-letter {
    font-weight: 700;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
    padding-top: 13px;
    position: absolute;
    top: -15px;
    left: 14px;
}

.logo-text {
    color: #ffffff;
    font-size: 30px;
    margin-left: 8px;
}

.green-text {
    color: #18CFAB;
    font-weight: 700;
}

/*********************NAVBAR*********************/

.navbar-link {
    text-decoration: none;
    color: #B8B8B8;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    padding-right: 15px;
}

.navbar-link:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    padding-bottom: 52px;
}

.fa-search-plus {
    color: #B8B8B8;
}

/*********************SLOGAN PART****************/

.page-title {
    font-size: 35px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-top: 185px;
}

.slogan {
    font-size: 69px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 35px;
}

.header-title {
    font-size: 30px;
    color: #D4D4D4;
    text-align: center;
    margin-top: 30px;
}

.buttons-block {
    text-align: center;
    margin-top: 105px;
}

.buttons {
    width: 167px;
    height: 62px;
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    box-shadow: 0 -5px 0 0 #ffffff;
}

.explore-btn {
    background-color: #18CFAB;
    margin-right: 10px;
}

.explore-btn:focus {
    outline: none;
}

.purchase-btn {
    background-color: #00CBF6;
    margin-left: 10px;
}

.purchase-btn:focus {
    outline: none;
}

/*********************FEATURES*********************/


.features {
    display: flex;
    flex-direction: row;
}

.features-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 481px;
    height: 325px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 90px;
}

.odd {
    background-color: #1C2A33;
    border-top: 8px solid #18CFAB;
    color: #18CFAB;
    padding-top: 70px;
}

.even {
    background-color: #18CFAB;
    border-top: 8px solid #FFFFFF;
    color: #FFFFFF;
    padding-top: 80px;
}

/*********************OUR SERVICES*********************/

.basic-title {
    color: #4E4E4E;
    font-size: 36px;
    text-align: center;
    padding-top: 70px;
}

.basic-title:after {
    content: '';
    width: 93px;
    height: 4px;
    border-top: 2px solid #18CFAB;
    border-bottom: 2px solid #18CFAB;
    transform: skewX(70deg);
    display: block;
    margin: 35px auto 0;
}

.services-tabs {
    display: flex;
    margin-top: 70px;
    padding-bottom: 25px;
}

.services-tabs-item {
    width: 192px;
    font-size: 16px;
    color: #717171;
    border: 1px solid #EBEBEB;
    background-color: #F8FCFE;
    text-align: center;
    vertical-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
    position: relative;
    cursor: pointer;
}

.services-article {
    padding-bottom: 15px;
    margin-bottom: 60px;
    display: none;
}

.services-article.active {
    display: flex;
}

.services-article-img {
    margin: 10px 20px 0 0;
    width: 195px;
    height: 140px;
}

.services-article-text {
    color: #777777;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
    margin-top: 10px;
}

.services-tabs-item.active {
    color: #ffffff;
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

.services-tabs-item.active:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 38%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #18CFAB;
    margin-bottom: 60px;
}

/*********************PURCHASE SECTION*********************/

.purchase {
    background: linear-gradient(rgba(0,0,0,0.78), rgba(0,0,0,0.78)), url('../img/purchase-background.png') 50% 50% no-repeat;
    background-size: cover;
    height: 450px;
}

.purchase-slogan {
    font-size: 40px;
    font-weight: 700;
    color: #18CFAB;
    text-transform: uppercase;
    text-align: center;
    padding-top: 95px;
}

.purchase-title {
    font-size: 15px;
    color: #D8D8D8;
    text-align: center;
    margin-top: 25px;
}

.purchase-btn-green {
    background-color: #18CFAB;
}

/*********************OUR AMAZING WORK*********************/

.amazing-work {
    background-color: #F8FCFE;
    border: 1px solid #E1E1E1;
    /*
    height: 1280px;
    */
}

.amazing-work-tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
}

.amazing-work-item {
    color: #717171;
    font-size: 14px;
    border: 1px solid #EBEBEB;
    padding: 24px 20px 22px 20px;
    background-color: #ffffff;
    cursor: pointer;
}

.amazing-work-item.active {
    color: #18CFAB;
    border-top: 2px solid #18CFAB;
}

.amazing-work-images {
    margin-top: 70px;
}

.all-images {
    display: flex;
    flex-wrap: wrap;
}

.amazing-image-item {
    position: relative;
    display: none;
}
.amazing-image-item.active {
    display: flex;
}

/*********************WHITE BANNER*********************/

.white-banner {
    position: absolute;
    bottom: 0;
    background-color: #F8FCFE;
    border-top: 2px solid #18CFAB;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.white-banner-title {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    color: #18CFAB;
    margin-top: 25px;
}

.white-banner-subitle {
    font-size: 16px;
    color: #8A8A8A;
    text-align: center;
    margin-top: 10px;
}


.amazing-image-item:hover .white-banner {
    height: 100%;
}

.circle-icons {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.first-circle-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    position: relative;
    margin: 2px;
    color: #18CFAB;
}

.first-circle-icon:hover {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    background-color: #18CFAB;
    position: relative;
    margin: 2px;
}

.fa-link {
    position: absolute;
    top: 13px;
    left: 13px;
}

.second-circle-icon {
    width: 40px;
    height: 40px;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    position: relative;
    margin: 2px;
    color: #18CFAB;
}

.second-circle-icon:hover {
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    border: 1px solid #18CFAB;
    border-radius: 50%;
    background-color: #18CFAB;
    position: relative;
    margin: 2px;
}

.fa-search {
    position: absolute;
    top: 13px;
    left: 13px;
}

.load-more-btn {
    background-color: #18CFAB;
    position: relative;
    outline: none;
    margin-bottom: 75px;
}

.fa-plus {
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
}

/*********************BREAKING NEWS*********************/

.breaking-news-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    grid-column-gap: 45px;
    grid-row-gap: 68px;
    margin-top: 63px;
    margin-bottom: 130px;
}

.news-gallery-link {
    text-decoration: none;
}

.news-title-block {
    border: 1px solid #F2F4F5;
    background-color: #F8FCFE;
    padding-bottom: 18px;
}

.news-title {
    color: #717171;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 0 20px 25px;
}

.news-author {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    border-right: 1px solid #ABACAD;
    padding: 0 10px 0 25px;
}


.news-comments {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    padding-left:  10px;
}

.news-gallery-item {
    position: relative;
}

.date-section {
    position: absolute;
    background-color: #203E38;
    color: #ffffff;
    font-size: 16px;
    top: 0;
    left: 198px;
    padding: 15px 20px 20px 15px;
    line-height: 1.5;
    text-align: center;
}

.news-gallery-item:hover .news-title {
    color: #18CFAB;
}

.news-gallery-item:hover .date-section {
    background-color: #18CFAB;
}

/*********************REVIEWS*********************/

.reviews {
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.50)), url('../img/backgrounds/section-3.jpg') 50% 50% no-repeat;
    background-size: cover;
}

.reviews .basic-title {
    margin-bottom: 0;
}

.reviews .basic-title {
    color: #ffffff;
}

.review-item {
    text-align: center;
    margin-top: 67px;
    display: none;
}

.review-item.active {
    text-align: center;
    margin-top: 67px;
    display: block;
}

.fa-quote-left {
    color: #18CFAB;
    font-size: 50px;
}

.review-text {
    color: #BBBBBB;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-top: 45px;
    line-height: 1.5;
}

.review-author {
    color: #18CFAB;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 45px;
}

.authors-position {
    color: #BBBBBB;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin: 20px 0 25px 0;
}

.review-authors-portrait {
    width: 165px;
    height: 165px;
    border: 0 solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 12px #18CFAB20;
    box-sizing: border-box;
    margin: 50px auto;
}

.first-portrait {
    background: no-repeat url("../img/authors-portraits/authors-portrait1.png");
    background-size: cover;
}

.second-portrait {
    background: no-repeat url("../img/authors-portraits/authors-portrait2.png");
    background-size: cover;
}

.third-portrait {
    background: no-repeat url("../img/authors-portraits/authors-portrait3.png");
    background-size: cover;
}

.forth-portrait {
    background: no-repeat url("../img/authors-portraits/authors-portrait4.png");
    background-size: cover;
}

.slick-current .review-authors-portrait {
    border: 3px solid #18CFAB;
}

/*********************REVIEW-SLIDER*********************/

.reviews-slider {
    /*display: flex;*/
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 105px;
}

.slider-container {
    width: 500px;
    height: 100px;
    margin: 0 auto;
}

.rectangle-arrows {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    position: relative;
}

.rectangle-arrows:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
}

.prev-btn {
    display: inline-block;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 10px; height: 10px;
    transform: rotate(-225deg);
    position: absolute;
    top: 10px;
    left: 12px;
}

.next-btn {
    display: inline-block;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 10px; height: 10px;
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    right: 0px;
}

/*********************ARROWS*********************/

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:before,
.slick-next:before {
    font-size: 20px;
    color: white;
}

.slick-prev {
    left: -25px;
}

.slick-prev:before {
    content: '←';
}

.slick-next {
    right: -25px;
}

.slick-next:before {
    content: '→';
}

.slider-item {
    width: 60px;
    height: 60px;
    border: 0 solid transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 6px #18CFAB20;
    margin: 15px 0 15px 35px;
}

.slick-current .slider-item {
    border: 2px solid #18CFAB;
    align-self: start;
    position: relative;
    top: -9px;
}

.slick-slide {
    outline: none;
}

/****************GALLERY OF BEST IMAGES*************/

.best-images {
    background-color: #F8FCFE;
    border: 3px solid #E2E2E2;
}

.basic-title {
    margin-bottom: 100px;
}

/***************************FOOTER******************/

.footer {
    background-color: #22353F;
    margin-bottom: 10px;
}

.footer-text {
    color: #AEAEAE;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 50px;
}

.footer-text .green-text {
    font-weight: 300;
}
